extends layout

block content
    div(style='width: 60%; margin: 0 auto;')
        - function capitalize(s) {return s.charAt(0).toUpperCase() + s.slice(1);};
        if context.user
                script.
                    window.localStorage.setItem('user', '!{context.user}');
        div(class="row dashboard")
            div(class="col-md-3")
            div(class="col-md-3")
                a(href="/admin/users")
                    div.text-center
                        h1 Users
                    img(src="../../assets/persons.png")
            div(class="col-md-3")
                a(href="/admin/records")
                    div.text-center
                        h1 Records
                    img(src="../../assets/recorder.png")
            div(class="col-md-3")
