doctype html
html
  head
    title= Codecast
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar
    block content