extends layout
block content
    dev(class="container-fluid")
        div(class="row")
            div(class="col-3")
            div(class="col-6")
                div
                    form(action="#" onsubmit="validateUserCreation(this); return false;")
                        label( for="inputEmail" class="sr-only mb-3") Email address
                        input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

                        label( for="inputUsername" class="sr-only mb-3") Username
                        input(type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus maxlength=30)

                        label(for="inputPassword" class="sr-only mb-3") Password
                        input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

                        - var buttonClasses=['btn', 'btn-lg', 'btn-primary', 'btn-block', 'mb-3'];
                        button(class=buttonClasses type="submit") Create
            div(class="col-3")
