extends layout
block content
    div.row
        div.col-md-4
        div.thumbnail.col-md-4.user-creation-layout.text-center
            h1 Create User
            form(action="#" onsubmit="validateUserCreation(this); return false;")
                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

                input(type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus maxlength=30)

                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

                - var buttonClasses=['btn', 'btn-lg', 'btn-primary', 'btn-block', 'mb-3'];
                button(class=buttonClasses type="submit") Create
        div.col-md-4
