extends base

block content
    if message
        div.text-center
            h3(class='btn-danger') #{message}

    div.row
        div.col-md-4
        div.thumbnail.col-md-4.sign-in-layout.text-center
            form(method="POST" action="/login")

                h1 Sign In

                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)

                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

                - var buttonClasses=['btn', 'btn-lg', 'btn-primary', 'btn-block', 'mb-3'];
                button(class=buttonClasses type="submit") Login
        div.col-md-4
