html,
body {
  height: 100%;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  align-content: center;
  font-family: "Open Sans";
}

.form-signin .form-control:focus {
  z-index: 2;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: auto;
  width: auto;
  margin-top: 10px;
}

button[type="submit"] {
  margin: auto;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  align-content: center;
}

.btn-custom-primary {
	background-color: #167f92;
	color: white;
  }

  .btn-custom-primary:hover {
	color: white;
	background-color: #0d6a7a;
  }

  .btn-custom-primary:focus {
	color: white;
  }

.btn-success{
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand{
  font-size: 26px !important;
  margin: 10px;
  padding: 15px 15px !important;
}

.navbar-nav > li > span{
  min-width: 48px;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  display: block;
  padding-top: 12px;
  padding-bottom: 15px;
}

.navbar-nav > li > a{
  min-width: 48px;
  text-align: center;
  margin: 10px;
  display: block;
  padding: 15px 12px;
  font-size: medium;
}

.navbar{
  min-height: 28px;
  margin-bottom: 30px;
}

th{
  text-align: center;
}

ul.user-actions {
  display: inline-block;
  margin-bottom: -10px;
  margin-left: -50px;
}

ul.user-actions li {
  margin: 5px;
  float: left;
  list-style: none;
}

#recordNameInput{
  width: 300px;
}

.responstable {
	margin: 0 1em 0 0;
	width: 100%;
	overflow: hidden;
	background: #fff;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167f92;
}
.responstable tr {
	border: 1px solid #d9e4e6;
}
.responstable tr:nth-child(odd) {
	background-color: #eaf3f3;
}
.responstable th {
	display: none;
	border: 1px solid #fff;
	background-color: #167f92;
	color: #fff;
	padding: 1em;
}
.responstable th:first-child {
	display: table-cell;
	text-align: center;
}
.responstable th:nth-child(2) {
	display: table-cell;
}
.responstable th:nth-child(2) span {
	display: none;
}
.responstable th:nth-child(2):after {
	content: attr(data-th);
}
@media (min-width: 480px) {
	.responstable th:nth-child(2) span {
		display: block;
   }
	.responstable th:nth-child(2):after {
		display: none;
   }
}
.responstable td {
	display: block;
	word-wrap: break-word;
	max-width: 7em;
}
.responstable td:first-child {
	display: table-cell;
	text-align: center;
	border-right: 1px solid #d9e4e6;
}
@media (min-width: 480px) {
	.responstable td {
		border: 1px solid #d9e4e6;
   }
}
.responstable th, .responstable td {
	/* text-align: left; */
	margin: 0.5em 1em;
}
@media (min-width: 480px) {
	.responstable th, .responstable td {
		display: table-cell;
		padding: 1em;
   }
}
body {
	font-family: 'Open Sans';
	color: #024457;
	background: #f2f2f2;
}
